- type: job
  id: Chemist
  name: Apothecary
  description: job-description-chemist
  playTimeTracker: JobChemist
  requirements:
    - !type:CharacterDepartmentTimeRequirement
      department: Medical
      min: 28800 # DeltaV - 8 hours
  startingGear: ChemistGear
  icon: "JobIconChemist"
  supervisors: job-supervisors-cmo
  access:
  - Medical
  - Chemistry
  - Maintenance
  special:
  - !type:AddComponentSpecial
    components:
    - type: CPRTraining
    - type: SurgerySpeedModifier
      speedModifier: 1.75

- type: startingGear
  id: ChemistGear
  subGear:
  - ChemistPlasmamanGear
  equipment:
    jumpsuit: ClothingApothecaryScrubs
    back: ClothingBackpackChemistryFilled
    shoes: ClothingShoesApothecaryBoots
    id: ChemistryPDA
    ears: ClothingHeadsetMedical
    hat: ClothingApothecaryHood
    gloves: ClothingApothecaryGloves
    outerClothing: ClothingApothecaryRobe
  innerClothingSkirt: ClothingApothecaryScrubs
  satchel: ClothingBackpackSatchelChemistryFilled
  duffelbag: ClothingBackpackDuffelChemistryFilled

- type: startingGear
  id: ChemistPlasmamanGear
  parent: BasePlasmamanGear
  equipment:
    jumpsuit: ClothingUniformEnvirosuitChemist
    head: ClothingHeadEnvirohelmChemist
    gloves: ClothingHandsGlovesEnviroglovesWhite
